* {
  margin: 0;
  padding: 0;
}

.list-items {
  padding: 10px;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.history-detail {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
